
<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <title>EBINAA</title>
    <!-- <% var asset_url = 'http://staging.uiplonline.com/wordlitter/views/assets' %> -->

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet">
       <script  type="text/javascript">
        
            var base_url = 'http://'+window.location.hostname+'/ebinaa-node/views/assets';

            document.write('<link rel="stylesheet" href="'+base_url+'/bootstrap/css/bootstrap.min.css">');
            

            document.write('<link rel="stylesheet" href="'+base_url+'/floating-scroll-master/dist/jquery.floatingscroll.css">');
            document.write('<link rel="stylesheet" href="'+base_url+'/style.css">');
            document.write('<script src="'+base_url+'/jquery-3.3.1.min.js">'+'<\/script>');
            document.write('<script src="'+base_url+'/bootstrap/js/popper.min.js">'+'<\/script>');
            document.write('<script src="'+base_url+'/common.js">'+'<\/script>');
            document.write('<script src="'+base_url+'/bootstrap/js/bootstrap.min.js">'+'<\/script>');
            document.write('<script src="'+base_url+'/floating-scroll-master/dist/jquery.floatingscroll.min.js">'+'<\/script>');
    </script>
    
</head>



</html>